# {{ season }} NCAA Football Statistics
## Conference: {{ data_to_template.conference }}
### Team: {{ data_to_template.team }}
#### Defense
##### Drives: {{ data_to_template.defense.drives }}
##### Explosiveness: {{ data_to_template.defense.explosiveness }}
##### Field Position Average
###### Predicted Points: {{ data_to_template.defense.fieldPosition.averagePredictedPoints }}
###### Start: {{ data_to_template.defense.fieldPosition.averageStart }}
##### Havoc
###### DB: {{ data_to_template.defense.havoc.db}}
###### Front Seven: {{ data_to_template.defense.havoc.frontSeven }}
###### Total: {{ data_to_template.defense.havoc.total }}
##### Line Yards
###### {{ data_to_template.defense.lineYards }}
###### Total: {{ data_to_template.defense.lineYardsTotal }}
##### Open Field Yards
###### {{ data_to_template.defense.openFieldYards }}
###### Total: {{ data_to_template.defense.openFieldYardsTotal }}
##### Passing Downs
###### Explosiveness: {{ data_to_template.defense.passingDowns.explosiveness }}
###### PPA: {{ data_to_template.defense.passingDowns.ppa }}
###### Rate: {{ data_to_template.defense.passingDowns.rate }}
###### Success Rate: {{ data_to_template.defense.passingDowns.successRate }}
###### Total PPA: {{ data_to_template.defense.passingDowns.totalPPA }}
##### Passing Plays
###### Explosiveness: {{ data_to_template.defense.passingPlays.explosiveness }}
###### PPA: {{ data_to_template.defense.passingPlays.ppa }}
###### Rate: {{ data_to_template.defense.passingPlays.rate }}
###### Success Rate: {{ data_to_template.defense.passingPlays.successRate }}
##### Plays: {{ data_to_template.defense.plays }}
##### Points Per Opportunity: {{ data_to_template.defense.pointsPerOpportunity }}
##### Power Success: {{ data_to_template.defense.powerSuccess }}
##### PPA: {{ data_to_template.defense.ppa }}
##### Rushing Plays
###### Explosiveness: {{ data_to_template.defense.rushingPlays.explosiveness }}
###### PPA: {{ data_to_template.defense.rushingPlays.ppa }}
###### Rate: {{ data_to_template.defense.rushingPlays.rate }}
###### Success Rate: {{ data_to_template.defense.rushingPlays.successRate }}
###### Total PPA: {{ data_to_template.defense.rushingPlays.totalPPA }}
##### Second Level Yards
###### {{ data_to_template.defense.secondLevelYards }}
###### Total: {{ data_to_template.defense.secondLevelYardsTotal }}
##### Standard Downs
###### Explosiveness: {{ data_to_template.defense.standardDowns.explosiveness }}
###### PPA: {{ data_to_template.defense.standardDowns.ppa }}
###### Rate: {{ data_to_template.defense.standardDowns.rate }}
###### Success Rate: {{ data_to_template.defense.standardDowns.successRate }}
##### Stuff Rate: {{ data_to_template.defense.stuffRate }}
##### Success Rate: {{ data_to_template.defense.successRate }}
##### Total
###### Opportunies: {{ data_to_template.defense.totalOpportunies }}
###### PPA: {{ data_to_template.defense.totalPPA}}
#### Offense
##### Drives: {{ data_to_template.offense.drives }}
##### Explosiveness: {{ data_to_template.offense.explosiveness }}
##### Field Position Average
###### Predicted Points: {{ data_to_template.offense.fieldPosition.averagePredictedPoints }}
###### Start: {{ data_to_template.offense.fieldPosition.averageStart }}
##### Havoc
###### DB: {{ data_to_template.offense.havoc.db }}
###### Front Seven: {{ data_to_template.offense.havoc.frontSeven }}
###### Total: {{ data_to_template.offense.havoc.total }}
##### Line Yards
###### {{ data_to_template.offense.lineYards }}
###### Total: {{ data_to_template.offense.lineYardsTotal }}
##### Open Field Yards
###### {{ data_to_template.offense.openFieldYards }}
###### Total: {{ data_to_template.offense.openFieldYardsTotal }}
##### Passing Downs
###### Explosiveness: {{ data_to_template.offense.passingDowns.explosiveness }}
###### PPA: {{ data_to_template.offense.passingDowns.ppa }}
###### Rate: {{ data_to_template.offense.passingDowns.rate }}
###### Success Rate: {{ data_to_template.offense.passingDowns.successRate }}
##### Passing Plays
###### Explosiveness: {{ data_to_template.offense.passingPlays.explosiveness }}
###### PPA: {{ data_to_template.offense.passingPlays.ppa }}
###### Rate: {{ data_to_template.offense.passingPlays.rate }}
###### Success Rate: {{ data_to_template.offense.passingPlays.successRate }}
###### Total PPA: {{ data_to_template.offense.passingPlays.totalPPA }}
##### Plays: {{ data_to_template.offense.plays }}
##### Points Per Opportunity: {{ data_to_template.offense.pointsPerOpportunity }}
##### Power Success: {{ data_to_template.offense.powerSuccess }}
##### PPA: {{ data_to_template.offense.ppa }}
##### Rushing Plays
###### Explosiveness: {{ data_to_template.offense.rushingPlays.explosiveness}} 
###### PPA: {{ data_to_template.offense.rushingPlays.ppa }}
###### Rate: {{ data_to_template.offense.rushingPlays.rate }}
###### Success Rate: {{ data_to_template.offense.rushingPlays.successRate }}
###### Total PPA: {{ data_to_template.offense.rushingPlays.totalPPA }}
##### Second Level Yards
###### {{ data_to_template.offense.secondLevelYards }}
###### Total: {{ data_to_template.offense.secondLevelYardsTotal }}
##### Standard Downs
###### Explosiveness: {{ data_to_template.offense.standardDowns.explosiveness }}
###### PPA: {{ data_to_template.offense.standardDowns.ppa }}
###### Rate: {{ data_to_template.offense.standardDowns.rate }}
###### Success Rate: {{ data_to_template.offense.standardDowns.successRate }}
##### Stuff Rate: {{ data_to_template.offense.stuffRate }}
##### Success Rate: {{ data_to_template.offense.successRate }}
##### Total 
###### Opportunies: {{ data_to_template.offense.totalOpportunies }}
###### PPA: {{ data_to_template.offense.totalPPA }}